.App {
  margin: 60px;
}
.container {
  display: flex;
  height: 100vh; /* Ensure the container takes the full viewport height */
}
.tiles {
  height: calc(100vh - 100px); /* Subtract the height of the header from the viewport height */
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to create rows */
  margin-right: 40%;
}

.tiles-img {
  flex: 1 0 35%; /* Equal width for each image */
  margin: 15px; /* Add spacing between images (optional) */
}

.tiles-img:hover {
  transform: scale(1.3); /* Increase size by 20% on hover */
}

.display-img{
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}
.ImageContainer {
}
.attach{
  visibility: visible !important;
}